<div class="d-grid gap-2 align-bottom" role="group" aria-label="Basic outlined example">
    <button class="btn btn-primary align-bottom" data-bs-target="#{{camp.campaign_id}}1" data-bs-toggle="modal">View</button>
</div>


<div class="modal fade" data-bs-backdrop="static" id="{{camp.campaign_id}}1" aria-hidden="true" aria-labelledby="campViewLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="campViewLabel">Campaign</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        Name:
                    </dt>
                    <dd class="col-sm-9">
                        {{ camp.campaign_name }}
                    </dd>
                    <dt class="col-sm-3">
                        Description:
                    </dt>
                    <dd class="col-sm-9">
                        {{camp.campaign_description}}
                    </dd>
                    <dt class="col-sm-3">
                        Budget:
                    </dt>
                    <dd class="col-sm-9">
                        ${{ camp.campaign_budget }}
                    </dd>
                </dl>
                <hr>
                <div class="h6">Advertisements</div>
                <div class="row">
                {% for advert in camp.adverts %}

                {% include 'component_ad_view.html' %}

                {% endfor %}
                </div>
                <hr>

                <div class="d-grid gap-2 mb-2" role="group" aria-label="Basic outlined example">
                    <button class="btn btn-primary" data-bs-target="#{{camp.campaign_id}}2" data-bs-toggle="modal">Create Ad</button>
                </div>
                <div class="d-grid gap-2">
                    <a class="btn btn-danger" href="/delete/campaign/{{ camp.campaign_id }}">Delete Campaign</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="{{camp.campaign_id}}2" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Advertisement</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{url_for('create_ad')}}" method="post">
                <div class="modal-body">

                    <input type="text" class="form-control mb-3 text-truncate" id="campId" name="campId"
                        value="{{ camp.campaign_id }}" hidden>

                    <label class="h6" for="adName">Advertisement Name</label>
                    <input type="text" class="form-control mb-3" id="adName" name="adName" required>

                    <label class="h6" for="adBudg">Payment Amount</label>
                    <input type="number" class="form-control mb-3" id="adBudg" name="adBudg" required>

                    <label class="h6" for="adReq">Requirements</label>
                    <textarea class="form-control mb-3" id="adReq" name="adReq"></textarea>

                    <div class="d-grid gap-2" role="group" aria-label="Basic outlined example">
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
{% for advert in camp.adverts %}
<!-- Modal -->
<div class="modal fade" id="{{advert.ad_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Advertisement</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if advert.ad_accepted == 'unsent' %}
                <form action="{{url_for('assign_ad')}}" method="post">
                    <label for="adInf" class="h6">Select influencer for the Advertisement</label>
                    <select id="adInf" name="adInf" class="form-select">
                        <option selected>Select</option>
                        {% for details in influencerdetails %}
                        <option value="{{details[0]}}">{{details[1]}}</option>
                        {% endfor %}
                    </select>
                    <input name="adId" type="text" value="{{advert.ad_id}}" hidden>

                    <div class="d-grid gap-2 my-2" role="group" aria-label="Basic outlined example">
                        <button type="submit" class="btn btn-success">Assign</button>
                    </div>
                </form>
                {% endif %}
                
                {% if advert.influencer_id[0] == 'i' %}
                
                {% if advert.ad_accepted == 'accepted' %}

                <dl class="row">
                    <dt class="col-sm-3">
                        Status:
                    </dt>
                    <dd class="col-sm-9">
                        Accepted
                    </dd>
                    <dt class="col-sm-3">
                        influencer id:
                    </dt>
                    <dd class="col-sm-9 text-truncate">
                        {{ advert.influencer_id }}
                    </dd>
                    <dt class="col-sm-3">
                        Budget:
                    </dt>
                    <dd class="col-sm-9">
                        ${{ advert.ad_budget }}
                    </dd>
                </dl>

                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}