{% extends '_base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<div class="mt-5">
  <div class="h2">Welcome {{ inf.influencer_name }}</div>
  <hr>
</div>
<div class="row my-3">
  <div class="col">
    <div class="h5 py-2">About</div>
    <div class="card">
      <a href="{{ url_for('inf_profile') }}" class="stretched-link"></a>
      <div class="card-body">
        <div class="my-3">
          <div class="h6 my-4">Email: {{ session.get('user_name') }}</div>
        </div>
        <hr>
        <dl class="row">

          <dt class="col-sm-4">
            Niche:
          </dt>
          <dd class="col-sm-8">
            {{ inf.influencer_niche }}
          </dd>

          <dt class="col-sm-4">
            Reach:
          </dt>
          <dd class="col-sm-8">
            {{ inf.influencer_platform_reach }}
          </dd>

          <dt class="col-sm-4">
            Platform:
          </dt>
          <dd class="col-sm-8">
            {{ inf.influencer_platforms }}
          </dd>

        </dl>
      </div>
      <div class="mx-auto">
        <a class="btn btn-outline-danger mb-3" href="{{ url_for('Logout') }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-box-arrow-left me-1" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
            <path fill-rule="evenodd"
              d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
          </svg>
          Logout
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-xs-12">
    <div class="h5 py-2">Your Requests</div>
    <div class="row">
      <div class="row col-12">

        {% for ad in inf.adverts %}
        {% if ad.ad_accepted == 'sent' %}
        <div class="col-4">
          <div class="card h-100">
            <div class="card-header">{{ ad.ad_name }}</div>
            <div class="card-body">
              <dl class="row">

                <dt class="col-sm-4">
                  Requires:
                </dt>
                <dd class="col-sm-8">
                  {{ ad.ad_requirements }}
                </dd>

                <dt class="col-sm-4">
                  Pay:
                </dt>
                <dd class="col-sm-8">
                  ${{ ad.ad_budget }}
                </dd>
              </dl>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2">
                <a class="btn btn-success" href="{{url_for('accept_ad',adId = ad.ad_id)}}">Accept</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>

    </div>
    <hr>
    <div class="h5 py-2">Your Campaigns</div>
    <div class="row">
      <div class="row col-12">

      {% for ad in inf.adverts %}
      {% if ad.ad_accepted == 'accepted' %}
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <img src="" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">{{ ad.ad_name }}</h5>
            <p class="card-text">{{ ad.ad_budget }}</p>
          </div>
        </div>
      </div>

      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}